.base__bg {
    width : 100vw;
    height : fit-content;

    background-color : #EEF2F4;

    margin: 0px;
}

.container {
    padding : 120px
}

.wrapper h1 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1.92px;

    margin-bottom: 90px;
}

@media (max-width : 1080px) {
    .container {
    padding : 5vw
}

.wrapper h1 {
    font-size: 48px;
}
}