.base__bg {
    width : 1480px;
    height : 2100px;

    background-color : #EEF2F4;

    margin: 0px;
}

.container {
    padding : 120px
}

.wrapper h1 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1.92px;

    margin-bottom: 90px;
}