@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    line-height: 100%;
    color: #000;

    --Text: #86969C;
    --Gray: #B8C6CF;
    --Accent: #7A5CFA;

}

:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
}